<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../static/image/bg.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block d-flex align-content-end">
                <h3 class="text-dark font-owsald font-weight-bold">Tết này bạn muốn yên ổn?</h3>
                <button class="btn btn-outline-dark bg-dark text-light px-4">
                    Bạn chỉ cần đăng kí tất cả để chúng tôi lo
                    <i class="fas fa-thumbs-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>