<form class="bg-light">
    <div class="form-group row d-flex justify-content-center mx-5">
        <div>
            <small class="text-muted">
                <a href="#" class="btn btn-secondary">
                    <i class="fas fa-hand-point-left"></i>
                    Về trang chủ
                </a>
            </small>
        </div>
        <div class="px-5">
            <small class="text-muted">
                <a href="#" class="btn btn-success">
                    <i class="far fa-comment"></i>
                    Khách hàng nói gì về dịch vụ của chúng tôi
                </a>
            </small>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="inputPassword" placeholder="Nhập từ khóa tìm kiếm">
        </div>
        <div>
            <small class="text-muted">
                <a href="#" class="btn btn-secondary">
                    Login
                    <i class="fal fa-sign-in"></i>
                </a>
            </small>
        </div>
    </div>
</form>

<h4 class="d-flex justify-content-center">Thông tin dịch vụ</h4>
<p class="d-flex justify-content-center navbar-brand font-lobster ">Chúng tôi cam kết cung cấp cho quý khách những dịch vụ tốt nhất</p>

<div class="card-deck mx-5">
    <div class="card">
        <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Tên : </p>
            <p class="card-text">Tuổi : </p>
            <p class="card-text">Chiều cao : </p>
            <p class="card-text text-info">Thông tin khác</p>
        </div>
        <div class="card-footer">
            <small class="text-muted d-flex justify-content-end">
                <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                    <i class="fas fa-info-circle"></i>
                </a>
            </small>
        </div>
        </div>
    <div class="card">
        <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Tên : </p>
            <p class="card-text">Tuổi : </p>
            <p class="card-text">Chiều cao : </p>
            <p class="card-text text-info">Thông tin khác</p>
        </div>
        <div class="card-footer">
            <small class="text-muted d-flex justify-content-end">
                <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                    <i class="fas fa-info-circle"></i>
                </a>
            </small>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Tên : </p>
            <p class="card-text">Tuổi : </p>
            <p class="card-text">Chiều cao : </p>
            <p class="card-text text-info">Thông tin khác</p>
        </div>
        <div class="card-footer">
            <small class="text-muted d-flex justify-content-end">
                <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                    <i class="fas fa-info-circle"></i>
                </a>
            </small>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Tên : </p>
            <p class="card-text">Tuổi : </p>
            <p class="card-text">Chiều cao : </p>
            <p class="card-text text-info">Thông tin khác</p>
        </div>
        <div class="card-footer">
            <small class="text-muted d-flex justify-content-end">
                <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                    <i class="fas fa-info-circle"></i>
                </a>
            </small>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Tên : </p>
            <p class="card-text">Tuổi : </p>
            <p class="card-text">Chiều cao : </p>
            <p class="card-text text-info">Thông tin khác</p>
        </div>
        <div class="card-footer">
            <small class="text-muted d-flex justify-content-end">
                <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                    <i class="fas fa-info-circle"></i>
                </a>
            </small>
        </div>
    </div>
</div>

<div class="card-deck mx-5 my-5">
        <div class="card">
            <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Tên : </p>
                <p class="card-text">Tuổi : </p>
                <p class="card-text">Chiều cao : </p>
                <p class="card-text text-info">Thông tin khác</p>
            </div>
            <div class="card-footer">
                <small class="text-muted d-flex justify-content-end">
                    <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                        <i class="fas fa-info-circle"></i>
                    </a>
                </small>
            </div>
            </div>
        <div class="card">
            <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Tên : </p>
                <p class="card-text">Tuổi : </p>
                <p class="card-text">Chiều cao : </p>
                <p class="card-text text-info">Thông tin khác</p>
            </div>
            <div class="card-footer">
                <small class="text-muted d-flex justify-content-end">
                    <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                        <i class="fas fa-info-circle"></i>
                    </a>
                </small>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Tên : </p>
                <p class="card-text">Tuổi : </p>
                <p class="card-text">Chiều cao : </p>
                <p class="card-text text-info">Thông tin khác</p>
            </div>
            <div class="card-footer">
                <small class="text-muted d-flex justify-content-end">
                    <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                        <i class="fas fa-info-circle"></i>
                    </a>
                </small>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Tên : </p>
                <p class="card-text">Tuổi : </p>
                <p class="card-text">Chiều cao : </p>
                <p class="card-text text-info">Thông tin khác</p>
            </div>
            <div class="card-footer">
                <small class="text-muted d-flex justify-content-end">
                    <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                        <i class="fas fa-info-circle"></i>
                    </a>
                </small>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="../../static/image/woods.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Tên : </p>
                <p class="card-text">Tuổi : </p>
                <p class="card-text">Chiều cao : </p>
                <p class="card-text text-info">Thông tin khác</p>
            </div>
            <div class="card-footer">
                <small class="text-muted d-flex justify-content-end">
                    <a href="{{url_for('login')}}" class="btn btn-primary">chi tiết
                        <i class="fas fa-info-circle"></i>
                    </a>
                </small>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation example">
            <ul class="pagination  d-flex justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
