<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Customers information</h1>
    {% for customer in all_customer %}
        {% if customer.gender == 1 %}
            <b>Name : {{customer.name}}</b>
            <p>Gender : {{customer.gender}}</p>
            <p>Phone : {{customer.phone}}</p>
            <p>Email : {{customer.email}}</p>
            <p>Job : {{customer.job}}</p>
            <hr>
        {% endif %}
    {%endfor%}
</body>
</html>