 <div class="bg-white">
   <h2 class="my-5 d-flex justify-content-center ">Các gói dịch vụ</h2>
 <div class="card-deck mx-5">
    <div class="card">
      <h5 class="card-header bg-light text-secondary">Gói cơ bản</h5>
      <div class="card-body">
        <p class="card-text">Dẫn về ra mắt.</p>
        <p class="card-text">Ăn cơm cùng gia đình</p>
        <p class="card-text text-black-50">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</p>
        <p class="card-text text-black-50">Bạn không phụ giúp gia đình công việc nấu ăn hay dọn dẹp</p>
      </div>
      <div class="card-footer">
        <small class="text-muted d-flex justify-content-end">
          <a href="#" class="btn btn-dark mx-5">
            <i class="fas fa-heart"></i>
            Tìm hiểu thêm
          </a>
        </small>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header bg-secondary text-light">Gói tiêu chuẩn</h5>
      <div class="card-body">
        <p class="card-text">Dẫn về ra mắt.</p>
        <p class="card-text">Ăn cơm cùng gia đình</p>
        <p class="card-text">Cho phép nắm tay thể hiện quan tâm</p>
        <p class="card-text text-black-50">Bạn không phụ giúp gia đình công việc nấu ăn hay dọn dẹp</p>
      </div>
      <div class="card-footer">
        <small class="text-muted d-flex justify-content-end">
        <a href="#" class="btn btn-dark mx-5">
            <i class="fas fa-heart"></i>
            Tìm hiểu thêm
          </a>
          </small>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header bg-dark text-light">Gói cao cấp</h5>
      <div class="card-body">
        <p class="card-text">Dẫn về ra mắt.</p>
        <p class="card-text">Ăn cơm cùng gia đình</p>
        <p class="card-text ">Cho phép nắm tay thể hiện quan tâm</p>
        <p class="card-text ">Bạn không phụ giúp gia đình công việc nấu ăn hay dọn dẹp</p>
        <p class="card-text text-primary">Và nhiều ưu đãi khác</p>
      </div>
      <div class="card-footer">
          <small class="text-muted d-flex justify-content-end">
        <a href="#" class="btn btn-dark mx-5">
            <i class="fas fa-heart"></i>
            Tìm hiểu thêm
          </a>
          </small>
      </div>
    </div>
  </div>
</div>