<footer class="footer-main bg-f5 border-top pt-5 pb-3">
        <div class="container">
            <!-- <div class="row">
                <div class="col-md-2 text-center mb-2">
                    <a href="/">
                        <img class="logo" src="../../static/image/4.jpg" alt="">
                    </a>
                </div>
                <br>
                <br> -->
                <div class="col-md-6 col-lg-6 d-flex">
                    <!-- <ul id="menu-en-menu-footer" class="footer-nav d-flex justify-content-center justify-content-md-start">
    <li id="menu-item-396" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396 "><a class="text-secondary text-uppercase" href="#">Về chúng tôi</a></li>
    <li id="menu-item-394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-394  "><a class="text-secondary text-uppercase" href="#">Blog</a></li>
    </ul>  -->
     <!-- <h4 class="my-sm-3 my-md-2 text-center text-md-left font-weight-bold d-flex justify-content-md-start mx-5">Mùa Đông Không Lạnh</h4> -->
     <div class="contact-info d-flex justify-content-end">
        <ul class="fa-ul">
            <li>
                <span class="fa-li">
                    <i class="fa fa-map-marker fa-fw"></i>
                </span>
                <span class="bold">Office:</span>Tầng 6, nhà C, tòa nhà Chigamex - 22 Thành Công, Ba Đình, Hà Nội</li>
                <li>
                    <span class="fa-li">
                        <i class="fa fa-phone fa-fw"></i>
                    </span>
                    <span class="bold">Tel:</span>
                    <a href="tel:+841649778859">0164 3319 486</a>
    
                </li>
                <li>
                    <span class="fa-li">
                        <i class="fa fa-envelope fa-fw"></i>
                    </span>
                    <span class="bold">E-mail:</span>
                    <a href="mailto:info@gisoft.vn">Techkidsvn@gmail.com </a>
                </li>
            </ul>
        </div>
    
    </div>
    
    
    </div>
    </footer>

    <div class="copyright bg-dark">
            <div class="container">
                 <div class="wrap clearfix">
                     <div class="text-white d-flex justify-content-center py-3">
                         Được thực hiện bởi Techkids
                     </div>
                     <div class="pull-left">
                     </div>
                 </div>
             </div>
         </div>