<div style="width: 800px; height: 600px;" class="bg-light mx-5">
  <h3 class="d-flex justify-content-center text-danger my-5">Đăng nhập</h3>
  <form>
      <div class="form-group row d-flex justify-content-center">
        <label for="inputPassword" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-3">
          <input type="text " class="form-control" id="inputPassword" placeholder="Username">
        </div>
      </div>
      <div class="form-group row d-flex justify-content-center">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-3">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="rememberpass d-flex justify-content-center">
          <a href="{{url_for('another_search')}}">
            <input type="submit" id="loginbtn" value="Đăng nhập" class="d-flex justify-content-center">
          </a>
          </div>
    </form>
  </div>